/* Buttons */

.draw{
    color: goldenrod;
    background-color: darkgreen;
}

.reset-button>button{
    margin-top: 35px;
    color: goldenrod;
    background-color: darkgreen;
}

/* bootstrap fix */

.table-bordered{
    border: 2px solid #022024;
}

.table-bordered td, .table-bordered th{
    border: 2px solid #3a4142;
}

.table thead th{
    border: 2px solid #3a4142;
}

.table {
    margin-top: 35px;
    text-align: center;
}