/* ------------------- place holder -------------------*/
/* ------------------- template editing -------------------*/

/* header */

header{
    background-color: #000000;
    color: #daa520; 
}

header a{
    text-decoration: none;
    color: #daa520;
}

nav ul li{
    list-style-type: none;
    font-size: 20px;
}

header div .pad-top-30{
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Main */

main {
    min-height: 1200px;
}
.reset-button{
    text-align: center;
}

.cont-contain{
    background-color: #ecd2d2;
    background-size: contain;
}

main .page-title{
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: underline dimgray;
    text-align: center;
}

main .page-info{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#psia-index>p{
    padding-top: 10px;
    text-align: center;
    color: brown;
}
.sm-img-con {
    max-width: 96px;
    max-height: 96px;
}

.sm-img{
    max-width: 96px;
    max-height: 96px;
}

/* Footer */

footer span{
    Padding-left: 20px;
}

.footer-social-links{
    text-align: center;    
}

/* various */

.border-black-bot{
    border-bottom-color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.border-black-left{
    border-left-color: #000000;
    border-left-width: 1px;
    border-left-style: solid;
}

a:hover {
    text-decoration: none;
}