/* ------------------- place holder -------------------*/
/* ------------------- template editing -------------------*/

.align-bottom {
    position: absolute;
    bottom: 0;
}

nav>ul>li{
    list-style-type: none;
}

